/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
/* Utility */
.container {
    width: 80vw;
    height: 95vh;
    margin: 0 auto;
    display: flex;
}
body {
    background-image: linear-gradient(
        to top,
        #DBDBD3 85%,
        #009688  15%      
    );
    font-family: Lato;
    padding: 2.5vh 0;
}
aside {
    flex-basis: 40%;  
    background-color: white;
}
main {
    flex-basis: 60%;  
    background-color: lightgray;
}
header {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EAEAEA; 
}
ul {
    list-style-type: none;
}
i {
    margin: 0 5px;
    color: #B1B1B1;
}
.leftHeader {
    display: flex;
    align-items: center;
    margin-left: 5px;
}



/* Aside Utility */
#remainder {
    height: 80px;
    background-color:rgba(142, 218, 252, 1);
    display: flex;
    align-items: center;
}
#searchContact {
    height: 45px;
    background-color:#E9EBEB;
}
#contactList {
    overflow-y: scroll;
    scrollbar-width: thin;
    height: calc(95vh - 190px);
}

main header {
    border-left: 2px solid #B1B1B1;
}


/* Main Utility */
#conversation {
    padding: 15px 10px 0 10px;
    height: calc(100% - 130px);
    /* display: flex; */
    overflow-y: scroll;
    scrollbar-width: thin;
    background-image: url(/img/mine.png);
    ul li {
        position: relative;
        border-radius: 8px;        
        background-color: #FFFFFF;
        padding: 15px 12px;
        font-size: 12px;
        max-width: max-content;
        margin-bottom: 10px;          
    }
    .currentTime {
        color: #838484;
        font-size: 7px;
        font-weight: 400;
        position: absolute;
        right: 4px;
        bottom: 2px;
    }
}
#contactMex, #userMex {
    flex-basis: 50%;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        li {
            width: 55%;
            border-radius: 8px;        
            background-color: #FFFFFF;
            padding: 15px 12px;
            font-size: 12px;
            position: relative;

            
        };
    };
    
}
#contactMex {
    padding-top: 3rem;
}
#userMex {
    padding-top: 1rem;
    ul li {
        background-color:#D5F9BA;
    }
    
}
footer {
    height: 65px;
    background-color: #F3EEEA;
    display: flex;
    input {
        flex-grow: 1;
        margin: 6px 0;
        border: 0;
        padding: 0 7px;
        border-radius: 6px;
    }
    i {
        align-self: center;
        font-size: 20px;
        padding: 0 15px;
        color: #6B7376;
    }    
}


/* Utility */
.profilePic {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
}
.iconGroup {
    margin-right: 15px;
}
.ColumnDisplay {
    display: flex;
    flex-direction: column;
}
.lastAccessTime {
    color: #B5B1B0;
}


/* section Remainder in Aside */

#remainder i.fa-regular.fa-bell-slash::before {
    font-size: 30px;
    border-radius: 50%;
    color: rgba(142, 218, 252, 1);
    background-color: white; 
}
#remainder i {
    width: 40px;
    height: 40px;
    padding: 5px
}

/* Section Search in Aside */
#searchContact input {
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-top: 7.5px;
    border: 0;
    padding-left: 10px;
}

/* Section contactList */
#contactList .leftHeader {
    height: 65px;
    align-items: flex-start;
    
    img {
        align-self: center;
    }
    .ColumnDisplay {
        flex-grow: 1;
    }
    .contactName {
        font-size: 13px;
        margin: 7px 0 3px 0;
    };
    .lastAccessTime {
        font-size: 11px;
    };
    div:last-child {
        margin-top: 3px;
        font-size: 11px;
    }
}
#contactList li {
    padding: 5px;
}
